.cartProduct {
  display: flex;
  margin: 10px 0 10px 0;
  padding-left: 10px;
}

.cartProduct:first-of-type {
  margin: 0;
}

.cartProduct:last-of-type {
  margin-bottom: 0;
}

.cartProduct:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.cartProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.cartProduct__info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartProduct__title {
  font-size: 1.05em;
}

.cartProduct__price {
  margin-top: 3px;
}

.cartProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  width: 160px;
  color: #111;
  border-radius: 2px;
  font: inherit;
  font-size: 15px;
}

.cartProduct__info > button:hover {
  cursor: pointer;
}
